// _________________________________________________
// MOBILE
.page-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  margin-top: 25vh;
  margin-inline: 3rem;
  text-align: center;

  h2 {
    margin-bottom: 3rem;
    width: 100%;
  }

  .fav-movies {
    display: grid;
    gap: em(70);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    width: 100%;
    max-width: 70rem;
    margin-top: 1.5rem;

    .movie,
    .add-movie {
      position: relative;
      width: 100%;
      min-width: 220px;
      max-width: 250px;
      cursor: pointer;
    }

    .movie {
      .profile-picture img {
        width: 100%;
        height: auto;
        border-radius: em(20);
        object-fit: cover;
        display: block;
      }

      .movie-info {
        display: none;
        position: absolute;
        inset: 0;
        text-align: center;
        background-color: $dark;
        border-radius: em(20);
        z-index: 5;
        color: $grey;
        font-style: italic;
        font-size: medium;
        padding: em(45) em(35) em(50);

        p {
          text-align: left;
          font-size: 16px;
        }

        .link-profile a {
          padding: em(15);
          background-color: #fcfcfca6;
          color: $light;
          border-radius: em(40);
          text-decoration: none;
          font-style: normal;
          font-family: $headingFont;
          text-transform: uppercase;
          font-weight: bolder;

          &:hover {
            background-color: #868484a6;
          }
        }
      }

      &:hover .movie-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .saved {
        position: absolute;
        top: em(-30);
        right: em(30);
        width: em(45);
        cursor: pointer;
        z-index: 15;
      }

      .rating {
        background-color: $yellow;
        position: absolute;
        top: em(-10);
        right: 70%;
        text-align: center;
        width: em(45);
        height: em(22);
        z-index: 15;

        p {
          color: $dark;
          font-size: 16px;
        }
      }
    }

    .add-movie {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      aspect-ratio: 2/3;
      border-radius: em(20);
      border: 4px dotted $grey;
      font-size: 3rem;
      font-weight: bold;
      color: $grey;
      transition: all 0.3s ease;
      text-decoration: none;

      p {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
        font-style: italic;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: $light;
        border-color: $light;
      }
    }
  }

  // _________________________________________________
  // TABLET/DESKTOP
  @media (min-width: 810px) {
    align-items: flex-start;
    text-align: left;

    padding-left: 22rem; 
    padding-right: 5rem;
    margin-inline: auto;
    width: 100%;
    max-width: calc(
      100vw - 22rem - 5rem
    ); 
    box-sizing: border-box;

    .fav-movies {
      justify-content: start; 
      gap: em(30); 
    }
  }
}
