// _________________________________________________
// MOBILE
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.581), #000912);
    z-index: 0;
  }

  .hero-content {
    position: relative;
    max-width: 25rem;
    z-index: 200;
    margin-top: 15rem;
    margin-left: 9rem;
    margin-right: 3rem;
    text-align: left;
    font-size: 14px;

    h2 {
      text-transform: uppercase;
      font-style: italic;
    }
    a {
      text-decoration: none;
      color: $grey;
      font-weight: 800;
      position: relative;
      z-index: 201;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .hero-nav {
    position: relative;
    z-index: 100;
    margin: 2rem 0;
    padding: 0;
    display: flex;
    font-size: 8rem;
    cursor: pointer;
    justify-content: start;

    .dot {
      color: #aaaaaa88;
      transition: color 0.3s;
      line-height: 0.1rem;
      margin: 0;
      padding: 0;
    }

    .dot.active {
      color: white;
    }
    .dot:hover {
      color: $yellow;
    }
  }

  // _________________________________________________
  // TABLET AND DESKTOP
  @include mq(810px) {
    .hero-content {
      max-width: 35rem;
      margin-left: 65%;
      font-size: 16px;
      right: 15%;
      margin-top: 20%;

      .hero-nav {
        text-align: right;
        .dot {
          font-size: 10rem;
          line-height: 1rem;
        }
      }
    }
  }
}
