// _________________________________________________
// MOBILE

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.581), #000912);
    z-index: 1;
  }

  .hero-content {
    position: absolute; 
    bottom: 15%;
    right: 10%;
    max-width: 25rem;
    z-index: 2;
    margin-left: 10rem;
    text-align: left;
    font-size: 14px;

    h2 {
        text-transform: uppercase;
        font-style: italic;
    }
    a {
        text-decoration: none;
        color: $grey;
        font-weight: 800;
        &:hover {
          text-decoration: underline;
        }
        z-index: 100;
    }
  }

  .hero-nav {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    font-size: 8rem; 
    cursor: pointer;
    justify-content: start;

    .dot {
      color: #aaaaaa88;
      transition: color 0.3s;
      z-index: 90;
    }

    .dot.active {
      color: white;
    }

    .dot:hover {
      color: $yellow;
    }
  }


  // _________________________________________________
  // TABLET AND DESKTOP
  @include mq(810px) {
    .hero-content {
      max-width: 35rem;
      margin-left: 18rem;
      font-size: 16px;
      right: 15%;
      

      .hero-nav {
        text-align: right;
        .dot {
          font-size: 10rem;
          line-height: 1rem;
        }
      }
    }
  }
}
