.hero {
  height: 100vh;
  display: flex;
  align-items: center; // centraliza verticalmente o conteúdo
  position: relative;
  z-index: 1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.581), #000912);
    z-index: 1;
  }

  .hero-content {
    position: absolute; // fixa o bloco no mesmo lugar
    bottom: 15%; // controla a posição (pode ser top / left também)
    right: 15%;
    max-width: 35rem;
    z-index: 2;

    h2 {
        text-transform: uppercase;
        font-style: italic;
    }
    a {
        text-decoration: none;
        color: $grey;
        font-weight: 800;
        &:hover {
          text-decoration: underline;
        }
    }
  }

  .hero-nav {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    text-align: left;
    font-size: 10rem; 
    cursor: pointer;
    justify-content: end;

    .dot {
      color: #aaaaaa88;
      transition: color 0.3s;
      line-height: .5rem;
    }

    .dot.active {
      color: white;
    }

    .dot:hover {
      color: $yellow;
    }
  }
}
