// _________________________________________________
// MOBILE
.movies-box {
  background-color: $dark-m;
  padding: 3rem 2rem;
  margin: 0 10%;
  border-radius: 30px;

  .movie-grid {
    display: grid;
    gap: em(60);
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    .no-favs-message {
      text-align: center;
    }

    @include mq(480px) {
      max-width: calc(2 * 180px + 1 * em(30));
      margin: 0 auto;
    }

    @include mq(768px) {
      max-width: calc(3 * 180px + 2 * em(30));
      margin: 0 auto;
    }

    @include mq(1350px) {
      gap: em(40);
      max-width: calc(4 * 200px + 3 * em(40));
      margin: 0 auto;
    }
  }

  .movie {
    position: relative;
    max-width: em(200);
    cursor: pointer;
    justify-self: center;

    .profile-picture img {
      width: 100%;
      border-radius: em(15);
      object-fit: cover;
    }

    .movie-info {
      display: none;
      position: absolute;
      inset: 0;
      text-align: center;
      background-color: $dark;
      border-radius: em(15);
      color: $grey;
      font-style: italic;
      font-size: 0.9rem;
      padding-top: em(65);
      padding-bottom: em(55);

      p {
        padding: 0 em(50);
        text-align: left;
      }

      .link-profile a {
        padding: em(15);
        background-color: #fcfcfca6;
        color: $light;
        border-radius: em(40);
        text-decoration: none;
        font-style: normal;
        font-family: $headingFont;
        text-transform: uppercase;
        font-weight: bolder;

        &:hover {
          background-color: #868484a6;
        }
      }
    }

    &:hover .movie-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .saved {
      position: absolute;
      top: -6%;
      right: 15%;
      width: 20%;
      cursor: pointer;
      z-index: 15;
    }

    .rating {
      position: absolute;
      top: -2%;
      right: 75%;
      width: 15%;
      height: em(15);
      background-color: $yellow;
      text-align: center;
      z-index: 15;

      p {
        color: $dark;
        font-size: 12px;
      }
    }
  }

  // _________________________________________________
  // TABLET
  @include mq(810px) {
    padding: 3rem 2rem;
    margin-left: 20rem;
    margin-right: 6rem;

    .movie {
      max-width: em(200);

      .movie-info {
        padding: em(50) 0;

        p {
          margin: 0 em(30);
          padding: 0;
          font-size: 0.9rem;
          text-align: left;
        }

        .link-profile a {
          padding: em(18);
          font-size: 0.85rem;
        }
      }

      .saved {
        width: 20%;
        top: -6%;
        right: 15%;
      }

      .rating {
        width: em(35);
        height: em(18);
        top: em(-5);
        right: 65%;
        p {
          font-size: 12px;
        }
      }
    }
  }

  // _________________________________________________
  // DESKTOP
  @include mq(1350px) {
    padding: 5rem 3rem;
    margin-left: 28rem;
    margin-right: 10rem;

    .movie {
      .movie-info {
        .link-profile a {
          padding: em(15);
          font-size: 0.9rem;
        }
      }

      .saved {
        width: 20%;
        top: -6%;
        right: 15%;
      }

      .rating {
        width: em(45);
        height: em(22);
        top: em(-10);
        right: 70%;
        p {
          font-size: 14px;
        }
      }
    }
  }
}
