// _________________________________________________
// MOBILE
.page-profile {
  display: flex;
  margin: 1rem 0;

  .single-movie {
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin: 8rem auto;
    padding: 3rem;
    transform: none; // remove offset no mobile

    .movie-poster {
      width: 100%;
      max-width: em(250);
      position: relative;

      .movie-img {
        width: 100%;
        height: auto;
        border-radius: em(20);
        object-fit: cover;
        display: block;
      }

      .saved {
        position: absolute;
        top: em(-30);
        right: 10%;
        width: em(45);
        cursor: pointer;
        z-index: 20;
      }

      .rating {
        background-color: $yellow;
        position: absolute;
        top: em(-10);
        right: 70%;
        text-align: center;
        width: em(45);
        height: em(22);
        z-index: 15;

        p {
          color: $dark;
          font-size: 14px;
        }
      }
    }

    .movie-content {
      // width: 100%;
      margin: 0;

      h2 {
        margin: 1rem 3rem;
        text-align: left;
      }

      p {
        margin: 1rem 3rem;
        line-height: 1.5;
        text-align: left;
      }

      .actors {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin-top: 2rem;
        margin-left: 3rem;

        img {
          height: 3rem;
          width: 3rem;
          object-fit: cover;
          border-radius: 50%;
          margin: 0.5rem;
        }
      }

      .movie-specs {
        padding: 0;
        

        p {
          line-height: 1.5;
          font-size: large;
          font-weight: 600;
          text-align: left;
          margin: 2rem 3rem;
        }

        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: left;
          gap: .8rem;
          margin-left: 3rem;

          p {
            font-style: italic;
            font-weight: 200;
            font-size: small;
            line-height: .1rem;
            margin: 0;
          }
        }
      }
    }
  }


// _________________________________________________
// TABLET AND DESKTOP (FROM 810px)
@include mq(810px) {
  .single-movie {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 3.5rem;
    width: 60rem; // largura fixa
    max-width: 90%;
    margin-top: 30vh;
    padding-left: 6rem;
    transform: translateX(3rem);

    .movie-content {
      margin-right: 2rem;
      text-align: left;

      h2 {
        margin-bottom: 1rem;
        text-align: left;
      }

      p {
        text-align: left;
      }

      .actors {
        justify-content: flex-start;

        img {
          margin-right: 1rem;
          margin-top: 1rem;
        }
      }

      .movie-specs {
        div {
          justify-content: flex-start;
        }
      }
    }
  }
}
}