// App Style Settings

// Colors
$dark: #000912;
$dark-m: #041523;
$dark-s: #1e2327;
$light: #fcfcfc;
$yellow: #FFB72B;
$grey: #e1e1e1;
$red: #d75b5b;

// Type
$bodyFont: 'Montserrat', sans-serif;
$headingFont: 'Zalando Sans Expanded', sans-serif;

// Layout
$section-padding: em(16) em(20);